<div class="hentry" id="header-entry">
  <h1 class="entry-title">
    Veerdienst Texel op groene energie.
  </h1>
  <br class="clear">
  <div class="entry-content">
    <p class='attention'>
      Is het mogelijk om de veerdienst van de <a href="http://www.teso.nl" target='_blank' title="TESO">TESO</a> die de overtocht tussen Texel en Den Helder verzorgt te laten varen op schone groene energie?
    </p>
    <p class='attention'>
      <strong>Ja!</strong> <a href='http://nl.wikipedia.org/wiki/Wubbo_Ockels' target= '_blank' title='Wubbo Ockels'>Wubbo Ockels</a> heeft een concept bedacht waarmee dit nu met de huidige technologie mogelijk is! We zoeken ondernemerende mensen om dit concept te realiseren.
    </p>
    <p>
      <center><img src='images/teso.jpg'/></center>
    </p>
    <br class="clear">
    <p class='attention'>
      Geïnteresseerd? <strong> Neem contact op met Frank Oxener via frank@dovadi.com of telefonisch 06-49416406. </strong>
    </p>
  </div>
</div>