<div class="hentry" id="header-entry">
  <h1 class="entry-title">
    Veerdienst Texel op groene energie.
  </h1>
  <br class="clear">
  <div class="entry-content">
    <p class='attention'>
      Is het mogelijk om de veerdienst van de <a href="http://www.teso.nl" target='_blank' title="TESO">TESO</a> die de overtocht tussen Texel en Den Helder verzorgt te laten varen op schone groene energie?
    </p>
    <p>
      <center><a href="http://www.teso.nl" target='_blank' title="TESO"><img src='images/teso.jpg'/></a></center>
    </p>
    <br class="clear">
    <p class='attention'>
      <strong>Ja!</strong> <a href='http://nl.wikipedia.org/wiki/Wubbo_Ockels' target= '_blank' title='Wubbo Ockels'>Wubbo Ockels</a> heeft een <a href="concept.html">concept</a> bedacht waarmee dit nu met de huidige technologie mogelijk is! 
    </p>
    <p class='attention'>
      <strong>We zoeken ondernemende mensen om dit concept te realiseren. </strong>
      </p>
      <p class='attention'>
      Neem contact op met Frank Oxener via frank@dovadi.com of telefonisch 06-49416406. 
    </p>
  </div>
</div>